<%= sortable 'title' %>
<%= sortable 'source' %>

<ol class="rounded-list">
	<!-- Nesting is also possible here:
	<ol>
		<li><a href="">List sub item</a></li>
		<li><a href="">List sub item</a></li>
		<li><a href="">List sub item</a></li>
	</ol>
	-->
	<% articles.each do |article| %>
	<li>
		<div class="enumerate">
			<%= link_to article.title, article.url, :target => "_blank" %>
			<span>
				<%= icon('facebook-square') %> <%= article.likes %>
				<%= icon('twitter-square') %> <%= article.tweets %>
			</span>
			<%= content_tag(:span, article.source) %>
		</div>
		<div class="bounce-summary">
			<%= icon('eye') %> Summary:<br />
			<%= article.body %>
		</div>
	</li>
	<% end %>
</ol>
