<%= sortable 'title' %>
<%= sortable 'source' %>

<ol class="rounded-list">
	<% articles.each do |article| %>
	<li>
		<%= link_to(article.url, :target => "_blank") do %>
		<%= article.title %><%= content_tag(:span, article.source) %>
		<% end %>
	</li>
	<% end %>
	<!-- Nesting is also possible here:
	<ol>
	   	<li><a href="">List sub item</a></li>
	    <li><a href="">List sub item</a></li>
	    <li><a href="">List sub item</a></li>
  	</ol>
	-->
</ol>
