<div class="row">
  <div class="medium-7 small-centered large-centered columns">
  	<%= link_to "Today's articles", root_path, class: "button tiny radius" %>
		<%= link_to "Yesterday's", yesterday_path, class: "button tiny radius" %>
		<%= link_to "This Weeks's", week_path, class: "button tiny radius" %>
		<%= link_to "This Month's", month_path, class: "button tiny radius" %>
		<%= link_to "All articles", all_path, class: "button tiny radius" %>
  </div>
</div>