<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
	<li><%= link_to "Today's", root_path, class: "button tiny radius" %></li>
	<li><%= link_to "Yesterday's", yesterday_path, class: "button tiny radius" %></li>
	<li><%= link_to "This Weeks's", week_path, class: "button tiny radius" %></li>
	<li><%= link_to "This Month's", month_path, class: "button tiny radius" %></li>
	<li><%= link_to "All articles", all_path, class: "button tiny radius" %></li>
</ul>