<table>
	<thead>
		<tr>
			<th><%= sortable 'val', "Rank" %></th>
			<th><%= sortable 'title' %></th>
			<th><%= sortable 'source' %></th>
		</tr>
	</thead>
	<tbody>
	<% articles.each do |article| %>
		<tr>
			<td><%= article.val %></td>
			<td>
				<span data-tooltip class="has-tip" title='<%= "Facebook likes: #{article.likes} - Tweets: #{article.tweets}" %>' >
					<%= link_to "#{article.title}", article.url %>
				</span>
			</td>
			<td><%= article.source %></td>
		</tr>
	<% end %>
	</tbody>
</table>