<% title 'Home' %>

<%= render 'common/search_box' %>

<ul class="featurettes hide-for-small hide-for-medium">
	<li>
		<a href="">Smashing Magazine redesigns</a>
		and launches their brand new network of blogs, the Smashing Network.
	</li>
	<li>
		<a href="">Smashing Magazine redesigns</a>
		and launches their brand new network of blogs, the Smashing Network.
	</li>
	<li>
		<a href="">Smashing Magazine redesigns</a>
		and launches their brand new network of blogs, the Smashing Network.
	</li>
	<li>
		<a href="">Smashing Magazine redesigns</a>
		and launches their brand new network of blogs, the Smashing Network.
	</li>
</ul>

<%# render 'top_three' unless @searched %>

<div class="row">
	<div class="medium-12 large-12 columns">
		<% if @searched %>
			<%= render 'search_results' %>
		<% else %>
		Sort by:
			<%= sortable('val', 'Value') %> <%= icon('sort-numeric-desc') %>
			<%= sortable('title') %> <%= icon('sort-alpha-asc') %>
			<%= sortable('source') %> <%= icon('sort-amount-asc') %>
			<%= render('article_list', :articles => @today_articles) %>
			<%= will_paginate @today_articles, renderer: FoundationPagination::Rails %>
			<%= render 'buttons' %>
		<% end %>		
	</div>
	<!--<div class="medium-4 large-4 columns">
		<div class="panel">
			<h5>This is a regular panel.</h5>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
		</div>
	</div>
	-->
</div>

<hr />
