<% title "Yesterday's top articles" %>

<h1><%= t 'title' %> <small>Read the news. <%= render 'about' %></small></h1>
<hr />

<%= render 'article_list', :articles => @yesterday_articles %>
<%= will_paginate @yesterday_articles, renderer: FoundationPagination::Rails %>

<hr />
<%= render 'buttons' %>