<h1><%= t 'title' %> - RakeMailer#failed_rake_task</h1>

<p>
  An error occurred during a rake task:
  <ul>
  	<li>Method: <%= @method %></li>
  	<li>RSS: <%= @rss %></li>
  	<li>Curl: <%= @curl %></li>
  	<li>Error: <%= @error %></li>
  </ul>
</p>
