<div id="masthead">
	<div>
		<p><%= content_tag :strong, Time.zone.now.strftime("%A") %> <%= Time.zone.now.strftime("%B %e, %Y") %></p>
		<%= image_tag("Kiji_logo.png", :width => 100) %>
		<%= image_tag("Samurai.png", :width => 200, :class => "right") %>
	</div>
	<h1><%= t 'title' %> <small>Read the news. <%= render 'home/about' %></small></h1>
</div>